{% extends 'layout.html.twig' %}


{% block stylesheet %}{% endblock %}



{% block content %}

<div style="margin-top:200px" class="container">
    <h1>Message envoyé avec succès</h1>
    
    <p>Thanks {{messagesContact.lastname}}, {{messagesContact.firstname}} for your message<br>
    Our team will process your request shortly !</p>
    <p>Have a nice day</p>
    <p>The Dave Team</p>
    <a href="/" class="btn btn-action btn-lg" role="button">Accueil</a>
</div>







{% endblock %}