{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css">


{% endblock %}

{% block content %}
	<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead">SPORT IN YOUR TRAVEL</h1>
				<p>
					<a href="/search" class="btn btn-action btn-lg" role="button">Find your sport</a>
					<a href="/aroundme" class="btn btn-action btn-lg" role="button">Find around you</a>
				</p>
			</div>
		</div>
	</header>
	<!-- /Header -->

	<!-- Intro -->
	<div class="container text-center">
		<br>
		<br>
		<h2 class="thin">The best place to find sport place when you're in holidays !</h2>
		<p class="text-muted">
			easily find a sports activity near you
		</p>
	</div>
	<!-- /Intro-->

	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space">
		<div class="container">

			<h3 class="text-center thin">Examples of sports you can find on our website !</h3>

			<div class="row">
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption">
						<h4>
							<i class="fa-solid fa-dumbbell"></i>Workout</h4>
					</div>
					<div class="h-body text-center">
						<p>Want to become like Schwarzie or simply need to maintain yourself, you will have to find what you are looking for.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption">
						<h4>
							<i class="fa-solid fa-person-swimming"></i>Swimming</h4>
					</div>
					<div class="h-body text-center">
						<p>Can't stop becoming a fish? Hope you find the place to be.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption">
						<h4>
							<i class="fa-solid fa-person-hiking"></i>Hiking</h4>
					</div>
					<div class="h-body text-center">
						<p>Find your ideal spot for your hike, big or small, whatever your desire.</p>

					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption">
						<h4>
							<i class="material-symbols-outlined">sports_tennis</i>Author's support</h4>
					</div>
					<div class="h-body text-center">
						<p>Most other sports are also represented, let your desires guide you.</p>
					</div>
				</div>
			</div>
			<!-- /row  -->

		</div>
	</div>
	<!-- /Highlights -->

	<!-- container -->
	<div class="container">

		<h2 class="text-center top-space">Our missions</h2>
		<br>

		<div class="row mb-5">
			<div class="col-sm-6">
				<h3>What is the purpose of our site?</h3>
				<p>Our mission is to help you in your search for sports activities near you.
				</p>
			</div>
			<div class="col-sm-6">
				<h3>The strength of our site:</h3>
				<p>Our platform offers a large number of activities that are very different from each other, which will appeal to a very large number of people! </p>
			</div>
		</div>
	</div>
{% endblock %}
